.container
  width: 91%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 100px
  padding: 0 0.7rem
.col
  &-32
    flex-basis: 32%
  &-40
    width: 40%
  &-60
    width: 60%