@media screen and ( min-width: 1900px )
  html
    font-size: 15px
    .nav
      &__item
        margin-right: 3.4rem
        margin-left: 2.3rem
@media screen and ( min-width: 1700px )
  .nav
    &__item
      margin-right: 2.9rem
      margin-left: 1.8rem
@media screen and ( min-width: 1500px )
  .nav
    &__item
      margin-right: 2.4rem
      margin-left: 1.3rem
  .hero
    &__content
      margin-left: 17.6rem
@media screen and ( max-width: 1350px )
  html
    font-size: 13px
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
    .menu
      margin-top: -8px  
      &__item
        margin-right: 1rem
      .contacts
        &__button
          display: none
        &__phone
          margin: 0
          &::after
            content: none
@media screen and ( max-width: 992px )
  .nav
    display: none
  .phone
    color: $light
  .hero
    top: 57px
    &__background
      border: none
    &__scroll-down
      display: none
    &__content
      margin-top: 150px
      margin-left: 110px
      max-width: 321px
    &__title
      font-size: 2rem
    &__text  
      font-size: 1.42rem
      margin-bottom: 2.28rem
    &__button
        display: block
        min-width: 22.86rem
        margin-bottom: 1.85rem
  .swiper
    &-slide
      &__text
        flex-basis: 50%
      &__heading
        font-size: 1.2rem
@media screen and ( max-width: 760px )
  .swiper-slider
    &-image
      margin-top: 3.5rem
      margin-bottom: 2.8rem
  .swiper
    &-navigation
      height: 2.1rem
      margin-top: 1rem
  .image
    &-desktop
      display: none
  .list
    &-desktop
      display: none
  h2 
    font-size: 1.8rem
  .row
    flex-direction: column
    align-items: center
    margin-top: 3.4rem
    padding: 0
  .card
    &__text
      margin-left: 0
      margin-top: -12.1rem
      max-width: 22.5rem
      margin-bottom: 6.5rem
    &__list
      line-height: 1.9rem
      padding-bottom: 0.8rem
    &__pricetag
      padding: 1rem 1rem
      min-width: 16rem
@media screen and ( max-width: 600px )
  .header
    height: 57px
  .menu
    margin: -5px 18px
  .hero
    &__instagram
      display: none
    &__scroll-down
      display: none
    &__content
      margin-top: 110px
      margin-left: 40px
      max-width: 323px
    &__title
      font-size: 1.88rem
      margin-bottom: 1.3rem
    &__text  
      font-size: 1.54rem
      line-height: 132%
      margin-bottom: 2.8rem
  .projects
    padding-top: 90px
    margin-bottom: 60px
    padding-bottom: 72.8rem
  .swiper
    width: auto
    &-slide
      &r
        &-image
          width: 100%
          height: 100%
          margin-top: 0
          margin-bottom: 2.6rem
      &__text
        flex-basis: 47%
        margin-bottom: 2.7rem
      &__heading
        margin-bottom: 0.95rem
      &__value
        font-size: 1.2rem
        line-height: 1.5rem
      &-navigation
        margin-top: 2.8rem
  .mobile-top
    order: -1
  .image
    &-mobile
      display: block
    &-desktop
      display: none
  .control
    &__section-title
      margin-top: -74.15rem
    &__video
      max-width: 100%
      min-height: 17.2rem
      margin-top: 3.4rem
      margin-bottom: 2.35rem
    &__text
      font-size: 1.2rem
      line-height: 2rem
      color: $light
      max-width: 100%
      margin-bottom: 2.5rem
      &::before
        margin-bottom: 1.2rem
    &__form
      flex-direction: column
      color: $light
    &__input-group
      margin-bottom: 5.3rem
    &__button
      order: 1
      padding: 1.62rem 0
    &__policy
      margin-top: -4.35rem
      margin-bottom: 5.2rem
  .video__play
    width: 62px
  .types
    margin-top: 53px
  // .main-background
  //   background-color: $dark
  .design
    &__section-title
      color: $light
    &__card
      margin-top: -0.7rem
      margin-bottom: 3.6rem
      &__text
        margin-top: -11.9rem
        margin-bottom: 7.5rem
        padding-top: 1.6rem
        padding-bottom: 2.7rem
  .list
    &-desktop
      display: none
    &-mobile
      display: block
  .footer
    background: $dark
    &-wrap
      background-color: $dark
      width: 100%
      padding: 2rem 0
      margin: 0
    &__title
      font-size: 1.68rem
      margin-bottom: 4.3rem
    &__form
      display: block
    &__input
      &-group
        margin-bottom: 4.5rem
    &__button
      width: 100%
      padding: 1.5rem 4.4rem
  .policy__label--center
    display: flex
    justify-content: flex-start
    margin-top: -3rem
    font-size: 1.3rem
    margin-bottom: 5.7rem

@media screen and ( max-width: 476px )
  .header
    width: 100%
    padding-left: 1.5rem
    padding-right: 1.5rem 
  .menu
    width: 100%
    margin: 0
  .logo
    font-size: 1.1rem
  .phone
    font-size: 1.1rem
  .hero
    height: 476px
    // &__background
    //   background: $dark url('../img/hero_bg_mobile.jpeg') no-repeat center / cover
    //   width: 100%
    //   height: 100%
    //   position: absolute
    &__content
      margin-top: 6.9rem
      margin-left: 1.5rem
      margin-right: 1.5rem
      max-width: 100%
    &__button
      display: block
      width: 100%
      // max-width: 333px
      padding: 12px auto
      margin-bottom: 2rem
      font-size: 1.11rem
  