@media screen and ( min-width: 1900px )
  html
    font-size: 15px
    .nav
      &__item
        margin-right: 3.4rem
        margin-left: 2.3rem
@media screen and ( min-width: 1700px )
  .nav
    &__item
      margin-right: 2.9rem
      margin-left: 1.8rem
  .scroll-up
    right: 100px
@media screen and ( min-width: 1500px )
  .nav
    &__item
      margin-right: 2.4rem
      margin-left: 1.3rem
  .hero
    &__content
      margin-left: 17.6rem
@media screen and ( max-width: 1350px )
  html
    font-size: 13px
    .scroll-up
      right: 40px
@media screen and ( max-width: 1200px )
  .menu 
    margin-top: -0.6rem
    &__item
      margin-right: 1rem
    .contacts
      &__button
        display: none
      &__phone
        margin: 0
        &::after
          content: none
  // .footer
  //   &__map
  //     width: 90%
@media screen and ( max-width: 992px )
  html
    font-size: 12px
    .menu
      // margin-top: -0.55rem   
    .nav
      display: none
    .phone
      color: $light
    .hero
      &__background
        border-bottom: none
        border-left: none
      &__instagram
        display: none
      &__scroll-down
        display: none
      &__content
        margin-top: 150px
        margin-left: 110px
        max-width: 321px
      &__title
        font-size: 1.91rem
        font-weight: normal
        line-height: 2.6rem
      &__text  
        font-size: 1.48rem
        // margin-bottom: 2.4rem
      &__button
          display: block
          min-width: 22.86rem
          margin-bottom: 1.85rem
    .swiper
      &-slide
        &__text
          flex-basis: 50%
        &__heading
          font-size: 1.2rem
    .scroll-up
      display: none !important
@media screen and ( max-width: 760px )
  html
    .swiper-slider
      &-image
        margin-top: 3.5rem
        margin-bottom: 2.8rem
    .swiper
      &-navigation
        height: 2.1rem
        margin-top: 1rem
        &-desktop
          display: none
        &-mobile
          display: block
    .image
      &-desktop
        display: none
    .list
      &-desktop
        display: none
    .row
      flex-direction: column
      align-items: center
      margin-top: 3.2rem
      padding: 0
    .projects
      padding-top: 34px
      margin-bottom: 0
      padding-bottom: 3rem
    .swiper
      width: auto
      &-container
        // position: absolute
      &-slide
        &r
          &-image
            width: 100%
            height: 100%
            margin-top: 0
            margin-bottom: 2.6rem
            &-desktop
              display: none
            &-mobile
              display: block
        &__text
          flex-basis: 47%
          margin-bottom: 2.3rem
        &__heading
          margin-top: 0.2rem
          margin-bottom: 0.95rem
        &__value
          font-size: 1.2rem
          line-height: 1.6rem
      &-navigation
        margin-top: 1.1rem
    .mobile-top
      order: -1
    .control
      margin-top: 0
      padding-top: 1rem
      background-color: $dark
      &__video
        min-height: 17.2rem
        max-width: 100%
      &__video
        max-width: 100%
        min-height: 17.2rem
        margin-top: 3.4rem
        margin-bottom: 2.4rem
        background: $dark url('../img/video-mask-mobile.jpg') center no-repeat
      &__text
        font-size: 1.17rem
        line-height: 2rem
        color: $light
        max-width: 100%
        margin-bottom: 2.3rem
        &::before
          margin-bottom: 1.3rem
      &__form
        flex-direction: column
        color: $light
      &__input
        &--dark
          color: $light
          width: 100%
          border-bottom: 1px solid $light
          &::placeholder
            color: $light
        &-group
          margin-bottom: 5.2rem
          width: 100%
      &__label
        &--dark
          padding-bottom: 0.1rem
          color: rgba($light, 0.5)
      &__button
        order: 1
        max-height: 4.3rem
        padding: 1.5rem 0
        margin-bottom: -2.2rem
        font-size: 1.3rem
      &__policy
        text-align: left
        margin-top: -5.1rem
        margin-bottom: 5.3rem
        margin-left: -1rem
        &__label
          font-size: 1.33rem
        &--center
          padding-right: 0
    .video__play
      width: 62px
      height: 100%
    .types
      margin-top: 0
      padding-top: 6.6rem
    .card
      &__title
        font-size: 1.265rem
        margin-bottom: 0.7rem
      &__text
        margin-left: 0
        margin-top: -11.9rem
        max-width: 22.5rem
        padding: 1.8rem 2.6rem 2.3rem
        margin-bottom: 6.9rem
      &__list
        line-height: 1.91rem
        padding-bottom: 0.8rem
      &__pricetag
        padding: 1rem 1rem
        min-width: 16rem
        bottom: -2rem
    .design
      padding-bottom: 0
      background-color: $dark
      &__section-title
        color: $light
      &__card
        margin-top: -0.9rem
        margin-bottom: 3.5rem
        &__text
          margin-top: -11.9rem
          margin-bottom: 7.5rem
          padding-top: 1.4rem
          padding-bottom: 2.7rem
          line-height: 1.75rem
        &__pricetag
          padding: 0.7rem 3.8rem
          text-align: center
          min-width: 15rem
          bottom: -1.7rem
    .list
      &-desktop
        display: none
      &-mobile
        display: block
    .image
      &-desktop
        display: none
      &-mobile
        display: block
    .footer
      background: $dark
      margin-top: -1rem
      &::before
        display: none
      &__wrap
        background: $dark
        padding: 0
        width: 100%
        margin: 0
      &__title
        font-size: 1.68rem
        margin-bottom: 4.3rem
      &__form
        display: block
        margin-bottom: 3.9rem
      &__input
        padding-top: 0.18rem
        &-group
          margin-bottom: 5rem
        &--light
          border-bottom: 1px solid $light
        &--full-width
          padding-top: 0.5rem 
      &__policy 
        &__label
          font-size: 1.34rem
        &--center
          display: block
          margin-top: -4.8rem
          margin-bottom: 5.5rem
          padding: 0
      &__button
        width: 100%
        padding: 1.5rem 4.4rem
        font-size: 1.23rem
      &-container
        display: flex
        flex-direction: column
      &-text
        order: 2
        max-width: 26rem
        margin: auto
      &__address
        font-size: 1.48rem
        margin-bottom: 2rem
        &__phone-nomber
          font-size: 1.5rem
      &__icons
        max-width: 100px
        margin-bottom: 3rem
        &--email
          width: 40px
          height: 40px
        &--instagram
          width: 40px
          height: 40px
@media screen and ( max-width: 600px )
  html
    .header
      height: 57px
    .menu
      margin: 0 18px
      width: auto
      margin-top: -0.55rem
    .hero
      &__background
        border-top: 57px solid $dark
        border-left: none
      &__instagram
        display: none
      &__scroll-down
        display: none
      &__content
        margin-top: 87px
        margin-left: 40px
      &__title
        margin-bottom: 1rem
      &__text  
        line-height: 2rem
        margin-bottom: 2.8rem
    .footer
      &__map
        width: 100%
        max-height: 20rem
        &--desktop
          display: none
        &--mobile
          display: block
      &__image
        width: 3.2rem
      &-menu
        display: none
    .modal
      &__dialog
        max-width: 90%
        width: 400px
        padding: 2rem 2rem
      &__title
        font-size: 1.24rem
        max-width: 25rem
        margin: auto
      &__input
        padding-bottom: 0
@media screen and ( max-width: 476px )
  html
    .header
      max-width: 100%
    .logo
      font-size: 1rem
    .phone
      font-size: 1rem
    .hero
      height: 532px
      max-height: 100%
      &__background
        background: $dark url('../img/hero_bg_mobile.jpg') no-repeat center / cover
      &__content
        width: 100%
        max-width: 350px
        max-height: 38rem
        margin-top: 8.7rem
        margin-left: 1.5rem
        margin-right: 1.5rem
      &__button
        display: block
        min-width: 100%
        padding: 12px auto
        margin-bottom: 2rem
        font-size: 1.11rem
@media screen and ( max-width: 320px )
  html
    .hero
      &__content
        width: 90%
      &__text
        font-size: 1.35rem
    .swiper
      &-navigation
        &-mobile
          display: none
        &-desktop
          display: block
    .control
      &__policy
        margin-bottom: 3.3rem
    .footer
      &__policy
        margin-bottom: 3.3rem