*, *:before, *:after
  box-sizing: border-box
html 
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img 
  max-width: 100%
.section
  padding: 130px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    margin-bottom: 2.2rem
    text-align: center
    &--left
      text-align: left
      margin-bottom: 3.4rem
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      // line-height: 138.6%
      line-height: 2.64rem
      color: $h2
      font-size: 1.43rem
      margin: 0
      &--primary
        color: $primary
        font-size: 1.8rem
        margin-bottom: 1.8rem
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 1px
        background-color: $primary
        margin-left: 2rem
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem

    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__description
      margin: auto
      margin-top: 1.64rem
      // font-size: 1.29rem
      line-height: 135.84%
      // max-width: 23.6rem
      margin-bottom: 3.1rem