.main-background
    background-color: $light
    position: absolute
    width: 100%
    height: 270%
    margin-top: -10rem
.container
  position: relative
.design
  margin-top: 10rem
  padding-top: 5rem
  &__section-title
    color: $dark
    margin-bottom: 3.1rem 
  &__card
    margin-bottom: 6.71rem
.image
  &-mobile
    display: none
  &-desktop
    display: block
    margin: 0 auto
    width: 100%
.list
  &-mobile
    display: none
  &-desktop
    display: block
// .row
//   display: flex
//   flex-direction: column
  
//   .design
//     background-color: $light
//     &__section-title
//       color: $dark
//       margin: auto
//   .section-title
//     &__heading
//       // font-size: 1.43rem
//     &__description
      
//   .row
//     padding: 0 0.7rem
//     flex-direction: row
//     justify-content: space-between
//   .card
//     flex-basis: 32%
//     &__text
//       margin: auto
//       margin-top: -9.3rem
//       max-width: 23.6rem
//       padding-bottom: 2.6rem
//     &__list
//       padding-bottom: 1.4rem 
//       line-height: 1.86rem
//     &__pricetag
//       padding: 1.2rem 5.5rem 1.2rem 1.5rem
//       min-width: 16.3rem
