.main-background
    background-color: $dark
    position: absolute
    width: 100%
    height: 270%
    margin-top: -10rem
.container
  position: relative
.design
  margin-top: 10rem
  padding-top: 5rem
  &__section-title
    color: $light
    margin-bottom: 3.1rem
  &__card
    margin-bottom: 6.71rem

.section-title
  &__heading
    font-size: 1.8rem
  &__description
      font-size: 1.30rem
      margin: auto
      margin-top: 1.64rem
      font-size: 1.29rem
      line-height: 135.84%
      max-width: 23.6rem
  
.card
  &__image
    display: block
    margin: 0 auto
    width: 100%
  &__text
    position: relative
    max-width: 22.6rem
    margin-top: -12.1rem
    padding: 1.77rem 2.4rem 2.56rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    color: $title
    margin-top: 0
    margin-bottom: 0.7rem
  &__list
    padding: 0 0 1rem 1.1rem
    margin: 0
    color: $list
    font-size: 1.07rem
    line-height: 1.85rem
  &__pricetag
    position: absolute
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 0.9rem 0.8rem
    text-align: center
    min-width: 16rem
    left: 0
    bottom: -1.59rem
.image
  &-desktop
    display: none
.list
  &-desktop
    display: none
.row
  display: flex
  flex-direction: column
@media screen and ( min-width: 760px )
  .main-background
    display: none
  .design
    background-color: $light
    &__section-title
      color: $dark
      margin: auto
  .section-title
    &__heading
      font-size: 1.43rem
    &__description
      max-width: 52.93rem
      font-size: 1.41rem
      line-height: 142.84%
      margin-bottom: 3.2rem
      margin-top: 1.2rem
  .row
    padding: 0 0.7rem
    flex-direction: row
    justify-content: space-between
  .card
    flex-basis: 32%
    &__text
      margin: auto
      margin-top: -9.3rem
      max-width: 23.6rem
      padding-bottom: 2.6rem
    &__list
      padding-bottom: 1.4rem 
      line-height: 1.86rem
    &__pricetag
      padding: 1.2rem 5.5rem 1.2rem 1.5rem
      min-width: 16.3rem
  .image
    &-mobile
      display: none
    &-desktop
      display: block
      margin: 0 auto
      width: 100%
  .list
    &-mobile
      display: none
    &-desktop
      display: block
