.fantasies
  width: 100%
  height: 61.7rem
  margin-top: 16.8rem
  &__background
    background: $dark url('../img/fantasies_bg.jpg') no-repeat center / cover
    position: absolute
    width: 100%
    height: 61.7rem
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 61.7rem
      background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%)
  &__title
    font-size: 1.9rem
    margin-top: 9.6rem
    margin-bottom: 1.4rem
    max-width: 30rem
  &__slyles
    display: flex
    flex-direction: column
    &__items
      width: max-content
      font-style: normal
      font-weight: 300
      font-size: 1.7rem
      margin-top: 1.6rem
      background-color: transparent
      border: none
      color: $light
      &:hover
        cursor: pointer
        font-size: 1.68rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        &::after
          content: ''
          width: 5.2rem
          height: 0.04rem
          background-color: $light
    &--active
      color: $primary
      font-size: 1.68rem
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      &::after
        content: ''
        width: 10.4rem
        height: 0.04rem
        background-color: $primary
  &__gallery
    height: 75.4rem
    width: 56.2rem
    margin-top: -9.35rem
    margin-bottom: -2.94rem
    margin-left: -6.5rem
    display: flex
    justify-content: space-between
    &__end
      height: 100%
      display: flex
      flex-direction: column
      justify-content: flex-end

    &__start
      display: flex
      flex-direction: column
      justify-content: flex-start
    &__items
      margin: 1.2rem


