.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  height: 83px
.menu
  margin: 0 102px 0 82px
  position: relative
  top: 50%
  margin-top: -1.25rem
  display: flex
  justify-content: space-between
  align-items: center
  &-logo
    text-decoration: none !important
.logo
  color: $primary
  text-transform: uppercase
  font-family: 'Futura Demi', sans-serif
  font-size: 1rem
.nav
  &__item
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 2rem
    margin-left: 0.65rem
    transition: color 0.2s
    &:hover 
      color: $primary  
.phone
  color: $primary
  text-decoration: none
.contacts
  text-align: right
  display: flex
  &__phone
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    font-size: 1rem
    margin-right: 3.4rem
    outline: none
    &::after
      content: ''
      width: 8.5rem
      height: 1px
      background-color: $primary
    