.scroll-up
  background: url('../img/arrow-up.svg') no-repeat center 
  width: 42px
  height: 42px
  border: 5px double $primary
  border-radius: 29px
  display:none
  right: 60px
  margin: 0
  position: fixed
  bottom: 140px
  outline: none
  cursor: pointer
  box-shadow: 0px 5px 15px rgba(gray, 0.5)
  transition: box-shadow 0.3s
  &:hover 
    box-shadow: none

@media screen and ( min-width: 1660px )
  .scroll-up
    right: 100px
@media screen and ( max-width: 1350px )
  .scroll-up
    right: 40px
@media screen and ( max-width: 600px )
  .scroll-up
    display: none