.types
  margin-top: 10.1rem
  margin-bottom: 2.21rem
.card
  &__text
    position: relative
    max-width: 23.6rem
    margin: 0 auto
    margin-top: -9rem
    padding: 1.79rem 2.2rem 2.5rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-weight: 500
    font-size: 1.285rem
    color: $title
    margin-top: 0
    margin-bottom: 0.7rem
  &__list
    padding-left: 1.1rem
    padding-bottom: 1.64rem
    margin: 0
    color: $list
    font-size: 1.07rem
    line-height: 1.79rem
  &__pricetag
    position: absolute
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    font-weight: 500
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.25rem 1.28rem
    text-align: center
    min-width: 16.3rem
    left: 0
    bottom: -1.9rem
.image
  width: 100%
  &-mobile
    display: none

